<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico"/>
    <meta name="description" content="Login form of the wall assignment">
    <meta name="author" content="Alfonso Martin B. Angeles">
    <title>The Wall | Sign In Page</title>
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <script src="../assets/js/index.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form id="login-form">
                <p>The Wall</p>
                <h1>Log In</h1>
                <label>
                    <span class="label-name">Email</span>
                    <input type="text" name="email" id="email">
                    <span class="error-msg">Incorrect Email</span>
                </label>
                <label>
                    <span class="label-name">
                        <span>Password</span>
                        <span><a href="#">Forgot Password?</a></span>
                    </span>
                    <input type="password" name="password" id="password">
                    <span class="error-msg">Incorrect Password</span>
                </label>
                <div>
                    <input type="submit" id="submit" value="SIGN IN">
                    <p>I don't have an account ? <a href="./sign_up.html">Sign up</a></p>
                </div>
            </form>
        </div>
        <div class="side">
            <img src="../assets/images/Group_2019.png" alt="Logo">
        </div>
    </div>
</body>
</html>