<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />
		<meta name="description" content="Register form of the wall assignment" />
		<meta name="author" content="Alfonso Martin B. Angeles" />
		<title>The Wall | Sign Up Page</title>
		<link rel="stylesheet" href="../assets/css/normalize.css" />
		<link rel="stylesheet" href="../assets/css/sign_up.css" />
		<script src="../assets/js/sign_up.js" defer></script>
	</head>
	<body>
		<div class="container">
			<div class="form-container">
				<form id="signup-form">
					<p>The Wall</p>
					<h1>Register</h1>
					<label>
						<span class="label-name">Email</span>
						<input type="text" name="email" id="email" />
						<span class="error-msg">Incorrect Email</span>
					</label>
					<label>
						<span class="label-name">Password</span>
						<input type="password" name="password" id="password" />
						<span class="error-msg">Incorrect Password</span>
					</label>
					<label>
						<span class="label-name"> Confirm Password </span>
						<input type="password" name="confirmPassword" id="confirmPassword" />
						<span class="error-msg">Password not match</span>
					</label>
					<div>
						<p class="tc">By creating an account, you agree with The Wall's <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>.</p>
						<input type="submit" id="submit" value="SIGN UP" />
						<p>Already have an account ? <a href="./index.html">Sign In</a></p>
					</div>
				</form>
			</div>
			<div class="side">
				<img src="../assets/images/Group_2019.png" alt="Logo" />
			</div>
		</div>
	</body>
</html>
