<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico" />
		<meta name="description" content="Wall view of the wall assignment" />
		<meta name="author" content="Alfonso Martin B. Angeles" />
		<title>The Wall | Wall View Page</title>
		<link rel="stylesheet" href="../assets/css/normalize.css" />
		<link rel="stylesheet" href="../assets/css/wall.css" />
		<script src="../assets/js/wall.js" defer></script>
	</head>
	<body>
		<div class="container">
			<header>
				<h2>The Wall Assignment</h2>
				<nav>
					<p>Welcome, Alfonso Martin Angeles!</p>
					<a href="./index.html">Logout</a>
				</nav>
			</header>
			<main>
				<div class="create-message">
					<p><span id="message-count">0</span> messages arranged by latest posted</p>
					<button class="add-trigger">Create Message</button>
				</div>
				<div class="posts"></div>
                <div class="no-posts">
					<img src="../assets/images/empty.png" alt="Empty Icon" />
					<p>No Poster Message Yet.</p>
				</div>
			</main>
		</div>
		<div class="add-modal">
			<div class="modal-content">
				<span class="close-button"><img src="../assets/images/cancel.png" alt="Cancel icon" /></span>
				<h2>Create a Message</h2>
				<form class="add-form">
					<textarea name="message" id="message" placeholder="Type your message here." onkeyup="isDisabled()"></textarea>
					<div>
						<button type="button" class="cancel-button">Cancel</button>
						<input class="submit-button disabled" type="submit" value="Post Message" disabled />
					</div>
				</form>
			</div>
		</div>
		<div class="delete-message-modal">
			<div class="modal-content">
				<span class="close-button"><img src="../assets/images/cancel.png" alt="Cancel icon" /></span>
				<h2>Confirm Delete Message</h2>
				<p>Are you sure you want to remove this message? This action cannot be undone.</p>
				<button class="cancel-button">Cancel</button>
				<button class="delete-button">Yes, Remove it.</button>
			</div>
		</div>

		<div class="delete-comment-modal">
			<div class="modal-content">
				<span class="close-button"><img src="../assets/images/cancel.png" alt="Cancel icon" /></span>
				<h2>Confirm Delete Comment</h2>
				<p>Are you sure you want to remove this comment? This action cannot be undone.</p>
				<button class="cancel-button">Cancel</button>
				<button class="delete-button">Yes, Remove it.</button>
			</div>
		</div>
	</body>
</html>
